body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background: url("https://images.unsplash.com/photo-1519741497674-611481863552") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden; /* 🔥 NO SCROLL */
}

/* APP */
#app {
  height: 100vh;
  width: 100%;
}

/* PAGE SYSTEM */
.page {
  display: none;
  height: 100vh;

  justify-content: center;
  align-items: center;
}

.page.active {
  display: flex;
}

/* CARD */
.card {
  background: rgba(0,0,0,0.75);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

/* LARGE CARD */
.large-card {
  max-width: 750px;
}

/* IMAGE */
.event-img {
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
  margin: 20px 0;
}

/* BUTTON */
button {
  padding: 10px 20px;
  margin: 10px;
  background: gold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* INPUT */
input, select {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: none;
}
